@import url('https://fonts.googleapis.com/css?family=Josefin%20Sans');
@import './scss/bootstrap';
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
//:root{
  //  --bs-body-font-family:'Roboto';
//}

@mixin ratio($w:1,$h:1){
 
  aspect-ratio: $w / $h
}
@mixin size($width,$height:$width/1.7) {
  width:$width;
  height: $height;
}
.tags{
    @include size(16px,6px);
}
/*
.fs-12{
  font-size: 12px;
}
*/
.border-box{
  box-sizing: border-box;
}
nav:hover{
color: #FB2E86;
background-color: aquamarine;

}

.ratio-3-2 {
  width: 300px;
  height: 200px;
}

.position-img{
  position: absolute;
  width: 100px;
  aspect-ratio: 3 / 2;

}
.newsletter{
  background-image: url('../image/subscribe/subscribe-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.py-newsletter{
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.shadow-custom{
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.4);
}


.amirmaghami{
  overflow: hidden;

}
.amirmaghami:hover .arman-btn-hover{
  bottom: 15px;
}

.arman-btn-hover{
  transition-duration: .4s;
  bottom: -40px;
  left: 0;
  right: 0;
}